<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.greenfood.member">

	<!-- 로그인 -->
	<!-- 프로필 -> 현재 비밀번호 확인 -->
	<select id="login" resultType="TestVo">
		select * from tbl_member
			where user_id = #{user_id}
			and user_pw = #{user_pw}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPw" resultType="TestVo">
		select * from tbl_member
			where user_id = #{user_id}
			and user_email = #{user_email}	
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultType="TestVo">
		select * from tbl_member
			where user_name = #{user_name}
			and user_email = #{user_email}
			and user_phone = #{user_phone}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMember">
		insert into tbl_member (user_id, user_pw, user_name, user_email, user_point, user_phone, user_addr1, user_addr2, user_addr3, user_code)
			values(#{user_id}, #{user_pw}, #{user_name}, #{user_email}, #{user_point} ,#{user_phone}, #{user_addr1}, #{user_addr2}, #{user_addr3}, #{user_code})
	</insert>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteMember">
		delete from tbl_member
			where user_id = #{user_id}
	</delete>
	
	<!-- 회원 조회 -->
	<select id="selectMember" resultType="TestVo">
		select * from tbl_member
			where user_id = #{user_id}
	</select>
	
	<!-- 프로필 비밀번호 수정  -->
	<update id="changePw">
		update tbl_member set
			user_pw = #{user_pw}
			where user_id = #{user_id}
	</update>
	
	<!-- 회원 정보 수정 -->
	<update id="customerModify">
		update tbl_member set
			user_addr1 = #{user_addr1},
			user_addr2 = #{user_addr2},
			user_addr3 = #{user_addr3},
			user_phone = #{user_phone},
			user_email = #{user_email}
			where user_id = #{user_id}
	</update>
	
	<!-- 주문내역  All List -->
	<select id="getOrderedList" resultType="OrderVo">
		select o.*, d.* from tbl_order o, tbl_order_state_category d
			where user_id = #{user_id} and o.order_state = d.order_state
			order by order_date desc
	</select>
	
	<!-- 최근 주문내역 3개까지만 -->
	<select id="getLatestOrderedList" resultType="OrderVo">
		select t.*
			from (select ROW_NUMBER() OVER (ORDER BY order_date desc) rnum, a.user_id, a.order_code, a.order_date, a.order_total_price, a.order_state, 
      			p.order_state_dsc from (select o.* from tbl_order o order by order_date desc) a, tbl_order_state_category p
				where user_id = #{user_id} and a.order_state = p.order_state) t
				where rnum between 1 and 3
	</select>
	
	<!-- 유저 포인트 내역 불러오기 -->
	<select id="getUserPoint" resultType="PointVo">
	select p.*, c.*, rownum rnum from tbl_point p, tbl_point_category c
		where p.point_category = c.point_category
			and user_id = #{user_id}
			order by rnum desc
	</select>
	
	<!-- 유저 포인트 부여 -->
	<insert id="insertPoint">
		insert into tbl_point(point_no, user_id, point_score, point_category)
			 values(SEQ_POINT_NO.nextval, #{user_id}, #{point_score}, #{point_category})
	</insert>
	
	<!-- 유저 포인트 합계 -->
	<select id="getPointSum" resultType="int">
		select sum(point_score) from tbl_point
			where user_id = #{user_id}
	</select>
	
	<!-- 유저 포인트 변경 (포인트 추가, 감소, ..) -->
	<update id="updateUserPoint">
		update tbl_member set
			user_point = #{user_point}
			where user_id = #{user_id}
	</update>
	
	<!-- 유저 레벨 변경 -->
	<update id="updateUserLevel">
		update tbl_member set
			user_level = #{user_level}
			where user_id = #{user_id}
	</update>
	
	<!-- 주문건수 배송완료된 것 카운트 -->
	<select id="orderCount" resultType="int">
		select count(*) from tbl_order
			where user_id = #{user_id} and order_state = '10003'
	</select>
	
	<!-- Order 주문 상태 갯수 -->
	<select id="getCustomerOrderCountList" resultType="OrderListCountDto">
		select sum(a.cnt) order_count, a.order_state, a.order_state_dsc, a.user_id
			from (select c.order_state, c.order_state_dsc, nvl2(o.user_id, 1, 0) cnt, user_id
				from (select * from tbl_order_state_category where substr(order_state, 1, 1) = 1) c,
					(select * from tbl_order where user_id = #{user_id}) o
						where c.order_state = o.order_state(+)	)a
			group by a.order_state, a.order_state_dsc, a.user_id
			order by order_state asc
	</select>
	
	<!-- Order_dsc 마이페이지 -->
	<select id="orderDscCount" resultType="int">
		select count(*) from (select a.*, b.* from tbl_order a, tbl_order_state_category b
			where user_id = #{user_id}
			and a.order_state = b.order_state
			and order_state_dsc like '배송완료')
	</select>
</mapper>