<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.greenfood.notice">


	<!-- b_no.nextval 얻어오기 -->

		<!-- <select resultType="int" id="getNoticenoNextVal">
			select seq_notice_no.nextval from dual
		</select> -->


	<!-- 공지사항 글쓰기 -->
		<insert id="insertNotice">
			insert into tbl_notice (notice_no, notice_title, notice_content)
				values(seq_notice_no.nextval, #{notice_title}, #{notice_content}) 
		</insert>

	<!-- 목록 -->
		<select  id="noticeList" resultType="NoticeVo">
			select * from           
				(select rownum rnum, a.* from (select * from tbl_notice a 
						<include refid="search"></include> 
						order by notice_no desc) a)
				where rnum between #{startRow} and #{endRow}
		</select>
		
		
		
	<!-- 전체 글갯수 읽어오기 -->	
	<select id="noticeListCount" resultType="int">
		select count(*) from tbl_notice
		<include refid="search"></include>
	</select>
	
		
		
		
	<!-- 글 선택 -->
	<select id="selectNotice" resultType="NoticeVo">
		select * from tbl_notice
		where notice_no = #{notice_no}
	</select>
	
	<!-- 수정 -->
	<update id="updateNotice">
		update tbl_notice set
			notice_title = #{notice_title},
			notice_content = #{notice_content}
			where notice_no = #{notice_no} 
	</update>

	<!-- 삭제 -->
	<delete id="deleteNotice">
		delete from tbl_notice
		where notice_no = #{notice_no} 
	</delete>
	
	<!-- 조회수 나타내기 -->
	<update id="updateNoticeReadcount">
		update tbl_notice set
			notice_readcount = notice_readcount + 1
			where notice_no = #{notice_no} 
	</update>
	
	<!-- 검색 기능 -->
	<sql id="search">
		<if test="selectType != null">
			<choose>
				<when test='selectType == "제목"'>
					where notice_title      like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</sql>

</mapper>