<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.greenfood.order">

	<!-- 장바구니  cart -->
	
	<!-- 장바구니에 상품 1개 넣기 -->
	<insert id="createCart">
		insert into tbl_cart (cart_no, user_id, product_code, product_title, 
			product_price, product_sale_rate, cart_quantity)
		values (seq_cart_no.nextval, #{user_id}, #{product_code}, #{product_title}, 
			#{product_price}, #{product_sale_rate}, #{cart_quantity})
	</insert>
		
	<!-- 장바구니 7일치, 불러오기 -->
	<select id="getCartList" resultType="CartDto">
		<![CDATA[
			select * from tbl_cart
			where sysdate - 7 <= cart_date
			and user_id = #{user_id}
			order by cart_date desc
		]]>
	</select>
	
	<!-- 장바구니 7일치, 안에 중복 상품 있는지 -->
	<select id="findDup" resultType="CartDto">
		<![CDATA[
			select * from tbl_cart
			where sysdate - 7 <= cart_date
			and user_id = #{user_id}
			and product_code = #{product_code}
		]]>
	</select>
	
	<!-- 장바구니 7일치, 중복 상품 : 수량, 생성일 업데이트 -->
	<update id="updateDup">
		update tbl_cart set
			cart_quantity = #{cart_quantity},
			cart_date = sysdate
		where cart_no = #{cart_no}
	</update>
	
	<!-- 장바구니에서 상품 수량 수정 -->
	<update id="updateQuantity">
		update tbl_cart set
			cart_quantity = #{cart_quantity}
		where cart_no = #{cart_no}
	</update>
	
	<!-- 장바구니에서 상품 삭제 -->
	<delete id="deleteCartProduct">
		delete from tbl_cart
		where cart_no = #{cart_no}
	</delete>
	
	<!-- 관리자 admin : ?일 이전에 생긴 tbl_cart 삭제 ?? -->
	<delete id="deleteCart">
		<![CDATA[
			delete from tbl_from
			where sysdate -30 >= cart_date
		]]>
	</delete>
	
	<!-- //장바구니  cart -->
	
	
	<!-- 주문 order -->
	
	<!-- 결제할 상품 목록 -->
	<select id="getListCartPay" parameterType="java.util.List" resultType="CartDto">
		select * from tbl_cart
		where cart_no in ( <foreach collection="list" item="no" separator=",">#{no}</foreach> )
		order by cart_no desc
	</select>
	
	<!-- 오더 테이블 , 코드로 오더 디테일 위 리스트 포문 돌려서 집어넣기 // 결제완료 버튼 누를때...... -->
	
	<!-- 주문 완료 - tbl_order 생성 -->
	<insert id="createOrder">
		insert into tbl_order (user_id, order_code, order_total_price, order_state, 
			order_addr1, order_addr2, order_addr3)
		values (#{user_id}, seq_order_code.nextval, #{order_total_price}, #{order_state}, 
			#{order_addr1}, #{order_addr2}, #{order_addr3})
	</insert>
	
	<!-- 제일 최근에 결제된 주문 -->
	<select id="getOrderLatest" resultType="OrderVo">
		select * from
		    (select rownum, a.*from 
		        (select * from tbl_order
		        order by order_date desc)a
		    )b
		where rownum between 1 and 1
	</select>
	
	<!-- 주문 상세 tbl_order_detail -->
	<insert id="createOrderDetail">
		insert into tbl_order_detail (order_datail_code, order_code, product_code, order_quantity)
		values (seq_order_datatil_code.nextval, #{order_code}, #{product_code}, #{order_quantity})
	</insert>
	
	<!-- 오더 디테일, 오더 읽기 / ..... -->
	
	<!--// 주문 order -->
	
	<!-- 마이페이지 - > 주문번호 클릭시 --> 
	<!-- Order 정보 불러오기 -->
	<select id="getProductDetailList" resultType="OrderDetailDto">
		select o.product_code, o.order_quantity ,d.product_title,d.product_price from tbl_order_detail o, tbl_product d
			where order_code = #{order_code}
			and o.product_code = d.product_code
	</select>
	
	<select id="getOrderUserInfo" resultType="OrderVo">
		select * from tbl_order
			where user_id = #{user_id}
			and order_code = #{order_code}
	</select>
	
	<!-- //마이페이지 - > 주문번호 클릭시 --> 
</mapper>