<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.greenfood.product">

	<select id="getProduct" resultType="ProductVo">
		select * from tbl_product
		where product_code = #{product_code}
	</select>
	
	<select id="getProductImage" resultType="ProductImageDto">
		select * from tbl_product_image
		where product_code = #{product_code}
	</select>

	<select id="getProductList" resultType="ProductVo">
		select * from tbl_product
		order by product_code desc
	</select>
	
	<select id="getProductImageList" resultType="ProductImageDto">
		select * from tbl_product_image
		order by image_code desc
	</select>
	
	<select id="getProductBest" resultType="ProductVo">
		select * from
		    (select rownum, a.*from 
		        (select * from tbl_product
		        order by product_order_count desc)a
		    )b
		where rownum between 1 and #{best_count}
		order by rownum asc
	</select>
	
	<select id="getProductCategory" resultType="ProductVo">
		select * from tbl_product
		where product_category = #{product_category}
		order by product_code desc
	</select>
	
	<select id="getCategory" resultType="ProductCategoryDto">
		select * from tbl_product_category
	</select>

</mapper>