<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.greenfood.question">
	
	<!-- 자주하는 질문 글쓰기 -->
		<insert id="insertQuestion">
			insert into tbl_question (question_no, question_title, question_content, question_category)
				values(seq_question_no.nextval, #{question_title}, #{question_content}, #{question_category}) 
		</insert>

	<!-- 글목록 받아오기 에서 category 조인하기 해서 카테고리 이름까지 같이 받아오기 -->
	<select id="getQuestionList" resultType="QuestionVo">
		select * from           
				(select rownum rnum, q.* from (select * from (
					select q.* , c.question_category_dsc 
                    from tbl_question q, tbl_question_category c
					where q.question_category = c.question_category) 
                    <include refid="search"></include>
                    order by question_no desc) q)
                where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 카테고리에 해당하는 리스트 받아오기 -->
	<select id="getQuestionListCategory" resultType="QuestionVo">
		select q.* , c.question_category_dsc
		from tbl_question q, tbl_question_category c
		where q.question_category = c.question_category
		and q.question_category = #{question_category}
		order by question_no desc 
	</select>
	
	<!-- 전체 글갯수 읽어오기 -->	
		<select id="questionListCount" resultType="int">
			select count(*) from tbl_question
			<include refid="search"></include>
		</select>
		
	
	<!-- 글 선택 카테고리 값 까지 받아오기-->
	<select id="selectQuestion" resultType="QuestionVo">
	<!-- question 테이블의 모든 칼럼과 category 테이블의 dsc 칼럼을 받아오는데 -->
			select q.* , c.question_category_dsc
			from tbl_question q, tbl_question_category c
			<!-- question 테이블의 카테고리 값과 category 테이블의 카테고리 값이 같고 -->
			where q.question_category = c.question_category
			<!-- question_no 값이 #... 인거 -->
            and question_no = #{question_no}
	</select>
	
	<!-- 수정 -->
	<update id="updateQuestion">
		update tbl_question set
			question_title = #{question_title},
			question_content = #{question_content}
			where question_no = #{question_no} 
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteQuestion">
		delete from tbl_question
			where question_no = #{question_no} 
	</delete>
	
	<!-- 검색 기능 -->
	<sql id="search">
		<if test="selectType != null">
			<choose>
				<when test='selectType == "제목"'>
					where question_title      like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</sql>
	
</mapper>