<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.greenfood.questionOne">
	
	<!-- 1:1 질문 글쓰기 -->
	<insert id="insertQuestionOne">
		insert into tbl_question_one (q_o_no, q_o_category, q_o_title, q_o_content, q_o_writer, q_o_email, q_o_phone)
		values(seq_question_one_qono.nextval, #{q_o_category}, #{q_o_title}, #{q_o_content}, #{q_o_writer}, #{q_o_email}, #{q_o_phone}) 
	</insert>

	<!-- category 조인하기 해서 카테고리 받아오기 -->
	<select id="getQuestionOneList" resultType="QuestionOneVo">
		select q.* , c.question_category_dsc
			from tbl_question_one q, tbl_question_category c
			where q.q_o_category = c.question_category
			order by q_o_no desc 
	</select>
	
	<!-- 글 선택 카테고리 값 까지 받아오기-->
	<select id="selectQuestionOne" resultType="QuestionOneVo">
		<!-- questionOne 테이블의 모든 칼럼과 category 테이블의 dsc 칼럼을 받아오는데 -->
		select q.* , c.question_category_dsc
			from tbl_question_one q, tbl_question_category c 
			
		<!-- questionOne 테이블의 카테고리 값과 category 테이블의 카테고리 값이 같고 -->
		where q.q_o_category = c.question_category 
		<!-- q_o_no 값이 #... 인거 -->

		and q_o_no = #{q_o_no} 
	</select>
	
	<!-- 수정 -->
	<update id="updateQuestionOne">
		update tbl_question_one set
			q_o_title = #{q_o_title},
			q_o_content = #{q_o_content}
			where q_o_no = #{q_o_no} 
	</update>
	
	<!-- 글에 답변 넣기(수정) -->
	<update id="updateQuestionOneAnswer">
		update tbl_question_one set
			q_o_answer = #{q_o_answer}
			where q_o_no = #{q_o_no} 
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteQuestionOne">
		delete from tbl_question_one
			where q_o_no = #{q_o_no} 
	</delete>
	
	<!-- user 에 따른  문의글 갯수 읽어오기   -->
	<select id="questionOneListCountUser" resultType="int">
		select count(*) from 
   			 (select q.*, m.user_id
       		 from tbl_question_one q, tbl_member m
       		 where q.q_o_writer = m.user_id)
   		 where q_o_writer = #{q_o_writer}
	</select>
	
	<!-- user에 따른 주문 내역 받아오기 -->
	<select id="getOrderedList" resultType="OrderVo">
	select o.order_code, o.order_date, o.order_total_price, p.product_title
		from tbl_order o, tbl_order_detail d, tbl_product p
		where user_id = #{user_id}
		and o.order_code = d.order_code
		and d.product_code = p.product_code
		order by o.order_date desc
	</select>
</mapper>