<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.greenfood.questionOne">


	
	<!-- 1:1 질문 글쓰기 -->
		<insert id="insertQuestionOne">
			insert into tbl_question_one (q_o_no, q_o_category, q_o_title, q_o_content)
				values(seq_question_one_qono.nextval, #{q_o_category}, #{q_o_title}, #{q_o_content}) 
		</insert>
	
</mapper>