<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.greenfood.review">

	<!-- 후기 별점 생성 -->
	<insert id="createStar">
		insert into tbl_star_point (star_point_no, user_id, order_code, product_code, star_point)
		values (seq_star_no.nextval, #{user_id}, #{order_code}, #{product_code}, #{star_point})
	</insert>
	
	<!-- 후기 별점 평균 -->
	<select id="averageStar" resultType="int">
		select round(avg(star_point)) star_avg
		from tbl_review
		where product_code = #{product_code}
		group by product_code
	</select>
	
	<!-- 후기 별점 평균값 -> 상품에 업데이트 -->
	<update id="updateStar">
		update tbl_product set
			product_star = #{star_avg}
		where product_code = #{product_code}
	</update>
	
	<!-- 후기 글쓰기 -->
	<insert id="insertReview">
		insert into tbl_review (review_no, user_id, review_content, review_title, order_code, product_title, star_point, product_code)
			values(seq_review_reviewno.nextval, #{user_id}, #{review_content}, #{review_title}, #{order_code}, #{product_title}, #{star_point}, #{product_code}) 
	</insert>
	<!-- 목록 -->
	<select  id="getReviewList" resultType="ReviewVo">
			select * from           
				(select rownum rnum, a.* from (select * from tbl_review a 
				<include refid="search"></include>
				order by review_no desc) a)
				where rnum between #{startRow} and #{endRow}
		</select>
	
	<!-- 글 선택 -->
	<select id="selectReview"  resultType="ReviewVo">
		select * from tbl_review
		where review_no = #{review_no}
	</select>
	
	<!-- 조회수 나타내기 -->
	<update id="updateReviewReadcount">
		update tbl_review set
			review_readcount = review_readcount + 1
			where review_no = #{review_no} 
	</update>
	
	<!-- 전체 글갯수 읽어오기 -->	
	<select id="reviewListCount" resultType="int">
		select count(*) from tbl_review
		<include refid="search"></include>
	</select>
	
	<!-- 수정 -->
	<update id="updateReview">
		update tbl_review set
			review_title = #{review_title},
			review_content = #{review_content}
			where review_no = #{review_no} 
	</update>
	
	
	<!-- 삭제 -->
	<delete id="deleteReview">
		delete from tbl_review
			where review_no = #{review_no} 
	</delete>
	
	<!-- 검색 기능 -->
	<sql id="search">
		<if test="selectType != null">
			<choose>
				<when test='selectType == "제목"'>
					where review_title      like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</sql>
	
	
	<!-- 후기 작성시 넘겨온 주문번호,제품번호,제품명 나타내기 -->
	<select id="selectInfoOrderReview" resultType="ReviewVo">
	select o.*, d.product_code, p.product_title
	from tbl_order o 

	inner join tbl_order_detail d
	on o.order_code = d.order_code

	inner join tbl_product p
	on d.product_code = p.product_code

	where o.order_code = #{order_code}
	and p.product_code = #{product_code}
	</select>
	
	<!-- 상품평 등록했는 지에 따른 카운트 -->
	<select id="productReviewsCount" resultType="int">
		select count(*) from tbl_review
			where order_code = #{order_code}
				and product_code = #{product_code}
	</select>
	
	<!-- 마이페이지 나의 후기 -->
	<select id="getMyReviewList" resultType="ReviewVo">
		select * from tbl_review
			where user_id = #{user_id}
	</select>
	
	<!-- 마이페이지 - 리뷰 갯수 -->
	<select id="getReviewCount" resultType="int">
		select count(*) from tbl_review
    		where user_id = #{user_id}
	</select>
	
	<!-- 상품 상세보기 리뷰카운트 -->
	<select id="getProductReviewCount" resultType="int">
		select count(*) from tbl_review
   		 	where product_code = #{product_code}
    		order by review_date desc
	</select>
</mapper>